.footer-container {
  background: #333333;
  padding: 60px 0;
  margin-top: auto;
  .site-map-address {
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #ffffff;
    &--tel {
      display: block;
      margin-top: 20px;
    }
  }
}
