.header-container {
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  position: sticky;
  top: -1px;
  z-index: 99;
  .login-btn {
    transition: all 0.2s ease;
    &:hover {
      color: #ff753c !important;
    }
  }
}
